<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <h1>Invalid route</h1>
    <a href="/">Home</a>
    <a href="/users/login">Login</a>
    <a href="/users/register">Register</a>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
