<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Page not found - simple-auth</title>
</head>

<body>
	<h1>Invalid route</h1>
	<a href="/">Home</a>
	<a href="/users/login">Login</a>
	<a href="/users/register">Register</a>
</body>

</html>