<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <% if (typeof message != "undefined" ? message : "") { %>
    <h2><%= message %></h2>
    <% } %>
    <h1>This is an example of simple user auth</h1>
    <a href="/users/login">Login</a>
    <a href="/users/register">Register</a>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
