<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login - simple-auth</title>
</head>

<body>
	<% if (typeof message != "undefined" ? message : "") { %>
	<h2><%= message %></h2>
	<% } %>

	<h1>Login</h1>
	<form action="/users/login" method="post">
		<input type="email" name="email" placeholder="Email" required />
		<input type="password" name="password" placeholder="Password" required />
		<input type="submit">
	</form>
	<a href="/">Home</a>
	<a href="/users/register">Register</a>
</body>

</html>