<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <% if (typeof message != "undefined" ? message : "") { %>
    <h2><%= message %></h2>
    <% } %>
    <h1>Register</h1>
    <form action="/users/register" method="post">
      <input type="name" name="name" placeholder="Name" required />
      <input type="email" name="email" placeholder="Email" required />
      <input type="password" name="password" placeholder="Password" required />
      <input
        type="password"
        name="confirmPassword"
        placeholder="Enter password again"
        required
      />
      <input type="submit" />
    </form>
    <a href="/">Home</a>
    <a href="/users/login">Login</a>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
